*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
h1{
    flex: 1;
    text-align: center;
    margin-left: -200px;
}
.menu{
    margin-top: 200px;
    right: 100px;
    position: fixed;
}
li{
    flex: 1;
    text-align: left;
}
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.wrapper {
    max-width: 600px;
    width: 50%;
    position: fixed;
  }
  .tabs {
    position: fixed;
    right: 100px;
    background: #fff;
    height: 100px;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: center;
    display: block;
    line-height: 50px;
    height: 3em;
    padding: 0 1.618em;
    background: #fff;
    border-right: -1px solid #16a085;
    color: #000;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    height: 400px;
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 0px;
    padding: 10px;
    background: rgb(186, 231, 231);
    color: #000;
    border-bottom: 0px solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
    align-content: center;
  }
  .tab-switch:checked + .tab-label {
    background: seagreen;
    color: #000;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }
  button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
  label{
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
  }
  h3{
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
  }